<ion-view cache-view="false" view-title='Agendamentos'>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="agendamento in agendamentos" ng-class="{falha: agendamento.confirmado == 'false'}">
                <ion-option-button
                    ng-click="reenviar(agendamento)"
                    class="button-positive"
                    ng-hide="agendamento.confirmado == 'true'">
                        Reenviar
                </ion-option-button>
                    {{agendamento.modelo}} - {{agendamento.preco}}
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>