<ion-view>
	<ion-nav-title>Estamos quase lá</ion-nav-title>
    <ion-content>
         <div class="card">
            <div class="item item-divider">
               <h2>{{carro.nome}}</h2>
                <h2>R{{carro.preco | currency}}</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome Completo</span>
                        <input ng-model="pedido.nome" type="text">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Endereço</span>
                        <input ng-model="pedido.endereco" type="text">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input ng-model="pedido.email" type="text">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Data do Agendamento</span>
                        <input type="text"  ng-focus="abrirPopupCalendario()" ng-model="dataFormatada">
                    </label>
                </div>                                
            </div>
        </div>
        <a class="button button-positive button-full" ng-click="finalizarPedido()">Fechar Agendamento</a>
    </ion-content>
</ion-view>