<ion-view>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                Usuário Logado
            </div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Data de Nascimento</span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Telefone</span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">E-mail</span>
                    </label>
                    <button class="button button-full button-positive">Salvar</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>