<ion-view view-title="Perfil do Usuário">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                {{usuario.nome}}
            </div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">{{usuario.dataNascimento}}</span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{usuario.telefone | brPhoneNumber}}</span>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">{{usuario.email}}</span>
                    </label>
                    <button class="button button-full button-positive">Editar</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>