<ion-view view-title="Perfil do Usuário">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                {{usuario.nome}}
            </div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input">
                        <span ng-hide="editando"  class="input-label">{{usuario.dataNascimento}}</span>
                        <input type="text" ng-show="editando" ng-model="usuario.dataNascimento">
                    </label>
                    <label class="item item-input">
                        <span ng-hide="editando" class="input-label">{{usuario.telefone | brPhoneNumber}}</span>
                        <input type="text" ng-show="editando" ng-model="usuario.telefone">
                    </label>
                    <label class="item item-input">
                        <span ng-hide="editando" class="input-label">{{usuario.email}}</span>
                        <input type="text" ng-show="editando" ng-model="usuario.email">
                    </label>
                    <button ng-hide="editando" ng-click="editar()" class="button button-full button-positive">Editar</button>
                    <button ng-show="editando" ng-click="salvar()" class="button button-full button-positive">Salvar</button>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>